.wrapper{
  overflow: hidden;
}
header.nj {
  background-color: #363636;
  color: #fff;
  padding: 4px 0;
  z-index: 1;
  margin-bottom: 0px;
}
#beta-notice{
  background-color: #e6e6e6;
  color: #3d3d3d;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
  font-size: 0.75rem;
}

#beta-notice a{
  color: #609E09;
}

#beta-notice ul{
  margin-bottom: 0;
}

.center-items{
  display: inline-block;
}
#browser-notice{
  background-color: #ea9393;
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
  font-size: 0.75rem;
  display: none;
}

#browser-notice a{
  color: #609E09;
}

/*@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #browser-notice{
   background-color: #FF0000;
   color: #ffffff;
   padding-top: 5px;
   padding-bottom: 5px;
   z-index: 1;
   font-size: 0.75rem;
   display: block;
  }
 }*/

 _:-ms-lang(x), .#browser-notice{
 
    background-color: #FF0000;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
    font-size: 0.75rem;
    display: block;
   
 }
header.nj #logo img {
  padding: 0;
  margin: 0 5px 0 0px;
  max-height: 41px;
  display: inline-block;
}
header.nj #logo h1 {
  font-size: 0.75rem;
  margin: 0;
  padding: 0 0 0 0;
  line-height: 1;
  width: auto;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
}

header.nj a {
  color: #fff;
}


header.nj .gov-bar {
  font-size: 0.9375rem;
  font-weight: 500;
}
header.nj .social {
  font-size: 0.875rem;
  font-weight: 300;
}

header.nj ul.statewide {
  margin: 0px;
}
header.nj ul.statewide li {
  border-right: 1px solid #fff;
  font-size: 14px;
  display: inline-block;
  margin: 0;
  padding: 0 6px;
}
header.nj ul.statewide li:last-of-type {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

header.nj .statewide {
  position: relative;
}
header.nj .statewide .drop {
  position: absolute;
  right: 0px;
  /*top: 35px;*/
  background: #363636;
  width: 500px;
  display: none;
  z-index: 10;
}
/*XS only*/

header.nj .statewide .drop button.drop-close {
  color: #999999;
}

header.nj .statewide .drop p.disclaimer {
  float: left;
  clear: left;
  width: 100%;
  text-align: left;
}

header.nj .statewide .drop #google_translate_element {
  float: left;
  clear: left;
  width: 100%;
}
.goog-te-combo.form-control {
  max-height: 2.125rem;
}


/* footer one */

@media only screen and (max-width: 575px) {
  body header.nj .statewide .drop {
    max-width: 100%;
  }
  #beta-notice{
    width: 100%;
  }
  .slide-column-2 h4{
    line-height: 1.8;
  }
  #nj-address {
    text-align: center !important;
  }

  body .state-logo {
    opacity: 0.2;
    filter: alpha(opacity=20);
    top: 15%;
  }
  .img-overlay .txt-banner{
    left: 1%;
    right: 1%;
  }
  .hero-img img#state-logo-white {
    width: 250px;
    height: 250px;
    }
  #social {
    text-align: center;
    margin: auto;
    display: block !important;
  }

  .flex-off-mobile {
    display: block !important;
  }

  .text-center-mobile {
    text-align: center !important;
  }
  .overview-section{
    margin-top: 15%;
  }
  .share-icons{
    margin-left: 0px;
    text-align:center;
  }
  .text-box{
    text-align:center;
  }
  .flip-container, .back {
  	width: 300px;
  	height: 400px;
    margin-bottom:20px;
  }
  .flip-container, .front, .back {
    text-align: center;
  }
  .card-img-top{
    width:50px;
    height:50px;
  }
  body .column{
    width:100%;
  }
  #section-about .row{
    height:auto;
      display:table;
    }

    body  .slide-column-1{
      padding-top: 0%;
      width: 100%;
    }
    body  .slide-column-2{
      width: 100%;
    }
    body .Slides{
      padding-top: 20px;
    }
    body  .slide-row{
      width: 100%;
    }
    #card-section {
      margin-left:auto;
      margin-right:auto;
      display:table;
      height:auto;
    }


}



@media only screen and (max-width: 768px) {
  body header.nj .statewide .drop {
    max-width: 100%;
  }
  #beta-notice{
    width: 100%;
  }
  #nj-address {
    text-align: center !important;
  }
  body .state-logo {
    opacity: 0.2;
    filter: alpha(opacity=20);
  }
  body img#state-logo-white {
    width: 150px;
    height: 150px;
    }

  #social {
    text-align: center;
    margin: auto;
    display: block !important;
  }

  .flex-off-mobile {
    display: block !important;
  }
  .overview-section{
    margin-top: 10%;
  }
  .share-icons{
    margin-left: 0px;
    text-align:center;
  }
  .contact-info{
    margin-left: 0px;
    text-align:center;
  }
  .text-box{
    text-align:center;
  }
  .flip-container, .back {
  	width: 300px;
  	height: 400px;
    margin-bottom:20px;
  }
  .flip-container, .front, .back {
    text-align: center;
  }
  body .column{
    width:100%;
  }
  #section-about .row{
    height:auto;
      display:table;
    }
    body  .slide-column-1{
      width: 100%;
      padding-top:0;
    }
    body  .slide-column-2{
      width: 100%;
    }
    body  .slide-row{
      width: 100%;
    }
    body .Slides{
      padding-top: 20px;
    }
    #card-section {
      margin-left:auto;
      margin-right:auto;
      display:table;
      height:auto;
    }



}

@media only screen and (max-width: 1000px){
  body  .slide-column-1{
    padding-top: 0%;
    width: 100%;
  }
  body  .slide-column-2{
    width: 100%;
  }
  body .Slides{
    padding-top: 20px;
  }
  body  .slide-row{
    width: 100%;
  }
  #card-section {
    margin-left:auto;
    margin-right:auto;
    display:table;
    height:auto;
  }
}

@media only screen and (max-width: 1200px) {
  body header.nj .statewide .drop {
    max-width: 100%;
  }
  #nj-address {
    text-align: center !important;
  }

  body .state-logo {
    opacity: 0.2;
    filter: alpha(opacity=20);
  }
  body img#state-logo-white {
    width: 150px;
    height: 150px;
    }

  #social {
    text-align: center;
    margin: auto;
    display: block !important;
  }

  .flex-off-mobile {
    display: block !important;
  }
  .overview-section{
    margin-top: 10%;
  }
  .share-icons{
    margin-left: 0px;
    text-align:center;
  }
  .contact-info{
    margin-left: 0px;
    text-align:center;
  }
  .text-box{
    text-align:center;
  }
  .flip-container, .back {
  	width: 300px;
  	height: 400px;
    margin-bottom:20px;
  }
  .flip-container, .front, .back {
    text-align: center;
  }
body .column{
    width:100%;
  }
  #section-about .row{
    height:auto;
      display:table;
    }
    .row{
      margin-left: 0px;
      margin-right: 0px;
    }
    .nj.row{
      margin-left: -15px;
      margin-right: -15px;
    }
    #card-section {
      margin-left:auto;
      margin-right:auto;
      display:table;
      height:auto;
    }

}


/*FOOTER css straight from https://nj.gov/*/
footer.footer {
  background: #0066cc;
  padding: 15px 0;
  color: #fff;
  font-size: 0.875rem;
  word-wrap: break-word;
}

.footer a:link,
.footer a:focus,
.footer a:visited {
  text-decoration: none;
  color: #ffffff !important;
}
.footer a:hover {
  text-decoration: underline;
}
footer.nj {
  background: #333;
  padding: 15px 0;
  color: #fff;
  font-size: 0.875rem;
}

footer .nj {
  background-color: #333;
  color: #fff;
}

.wrap {
width:100%;
text-align: center;

}

.hero-img {
  left:0;
  background-image: url("../images/hero-img.jpeg");
  background-color: rgba(0,46,155,0.7);
  background-blend-mode: multiply;
  height: 45vh;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.img-shade{

}
.align-center{
  text-align: center;
  }


.hero-txt {
  color: white;
  vertical-align: middle;
  text-align: center;
}
.hero-txt h1{
  font-weight:300;
  font-size: 3.5rem;
  margin-bottom: 0rem;
}

.hero-txt h5{
  font-weight:300;
  margin-bottom: 0rem;
}
.txt-banner{
  position: absolute;
  bottom: 30%;
  left: 20%;
  right: 20%;
  text-align: center;

}
.img-overlay{
  display: table;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width:100%;
  height:100%;
}
.text-green {
  color: #609E09;
}
.text-blue{
  color:#1F689D;
}
.text-brown{
color: #A07f45
}
.text-pblm{
  color:#609e09;
}
.text-soln{
  color:#1282A2;
}
.text-eval{
  color:#F37748;
}
.state-logo{
  display: table;
  position: absolute;
  text-align: center;
  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */
  top: 20%;
  width:100%;
}

img#state-logo-white{
width: 120px;
height: 120px;
}

.overview-section{
  margin-top: 0%;
}

.text-box {
  width: 90%;
  margin-left: 5%;
  padding-top:2%;
  padding-left:2%;
  padding-right:2%;
  padding-bottom:2%;
}

.text-box h3{
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  font-weight:600;
  line-height: 1.5;
}
.text-box h5{
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  font-weight:300;
  color: #3d3d3d;
  line-height: 1.5;
}
.text-box p{
  padding-left: 3%;
  padding-bottom: 3%;
  padding-right: 3%;
  line-height: 1.5;
}

.text-box ul{
  display: table;
  margin-right: auto;
  margin-left: auto;


}
.share-icons p{
  color:#1F689D;
  font-weight: 600;
  margin-bottom: -10px;
}
.fa {
  padding: 20px 20px 20px 0px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
.contact-info{
  padding-right:5%;
  margin-top: -20px;
}

.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
    perspective: 1000px;
		transform: rotateY(180deg);
	}


.flip-container, .front, .back {
  text-align: center;
}
.flip-container, .back {
  width: 300px;
  height: 400px;
  margin-bottom: 40px;
  margin-top: auto;
  margin-left:auto;
  margin-right:auto;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.back{
  background-color: #fefefe;

}
.front {

 margin-top:170px;

}
.fnt-soln{
 border: 1px solid #A07f45;
}

.fnt-pblm{

 border: 1px solid #609E09;

}
.fnt-eval{
border: 1px solid #1B8BCF;
}
.text-back{
margin-left:1.5rem;
margin-right:1.5rem;
margin-top:1.5rem;
}
.flipper {
	transition: 1s;
   -webkit-transition: 1s;
   -ms-transition: 1s;
	transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
	position: relative;
  text-align: center;
}


/* hide back of pane during swap */
.front, .back, .card-border, .card-border-1, .card-border-2, .pblm, .soln, .eval{
  -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  -ms-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.back-border-pblm{
  -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  -ms-visibility: hidden;
	position: absolute;
	top: 0;
  left: 0;
  width: 100%;
}

.back-border-soln, .back-border-eval{
  -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  -ms-visibility: hidden;
	position: absolute;
	top: 0;
  left: 0;
  width: 100%;
}
/* front pane, placed above back */
.front {
  width:200px;
  height:200px;
  border-radius: 50%;
	/* for firefox 31 */
	transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  text-align: center;

}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  border-radius: 0px;
}
.back-border-soln{
  height: 100%;
  background: #2A4F89;
  color: #ffffff;
}
.back-border-pblm{
  height: 100%;
  background: #2D4A04;
  color: #ffffff;
}
.back-border-eval{
  height: 100%;
  background: #9D4D30;
  color: #ffffff;
}
.card-border{
  width:300px;
  height:400px;
  box-shadow: 5px 0 5px 0 #aaaaaa;
  border-radius: 0;
}
.col-card-soln{
  height: 100%;
  background:#2A4F89;
}
.col-card-pblm{
  height: 100%;
  background: #2D4A04;
}

.col-card-eval{
  height: 100%;
  background: #9D4D30;
}
.row-image{
  height: 50%;
}
.row-image-soln{
  border-radius: 0 0 0 0;
  background: url("../images/biz.svg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 80%;
}

.row-image-pblm{
  border-radius: 0 0 0 0;
  background: url("../images/edu.svg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 80%;
}
.row-image-eval{
  border-radius: 0 0 0 0;
  background: url("../images/train.svg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 80%;
}

.row-text-eval{
   color: #f0f0f0;
   height: 50%;
   background-color: #9D4D30;
   border-radius: 0 0 0 0;
   padding-top: 5%;
 }
 .row-text-eval h5{
   font-weight: 700;
 }

 .row-text-eval p{
   font-weight: 200;
 }

.row-text-soln{
 color: #f0f0f0;
  height: 50%;
  border-radius: 0 0 0 0;
  padding-top: 5%;
}
.row-text-soln h5{
  font-weight: 700;
}

.row-text-soln p{
  font-weight: 200;
}

.row-text-pblm{
  color: #f0f0f0;
   height: 40%;
   border-radius: 0 0 0 0;
   padding-top: 5%;
 }
 .row-text-pblm h5{
   font-weight: 700;
 }

 .row-text-pblm p{
   font-weight: 200;
 }

.info-bt-1{
  display: inline-block;
  color:#F6F6F6;
  background-color:#778FB3;
}

.info-bt-2{
  display: inline-block;
  color:#000000;
  background-color: #609E09;
  }
.info-bt-3{
  display: inline-block;
  color:#000000;
  background-color: #1B8BCF;

}
.btn-md{
  padding: 0.5rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.button-class{
  padding-top:5%;
}
.button-class-slides{
  padding-top:2%;
}

#card-section .front{
  margin-left:50px;
}
#card-section .back{
  margin-left:0px;
}
#card-section .row{
  margin-bottom:auto;
  margin-top:auto;
  margin-left: auto;
  padding-left: auto;
}



.image-portion{
  height:50%;
  padding-top: 25%;
}

.soln{
  background-color:#778FB3;
  margin-left:auto;
  margin-right:auto;
  color:#f6f6f6;
  top: 195px;
  position: relative;
}
.pblm{
  background-color:#609E09;
  margin-left:auto;
  margin-right:auto;
  color:#f6f6f6;
  top: 195px;
  position: relative;
}
.eval{
  background-color:#F37748;
  margin-left:auto;
  margin-right:auto;
  color:#f6f6f6;
  top: 195px;
  position: relative;
}
.card-img-top{
  width:100px;
  height:100px;
}
.column{
  width:33.33%;
  margin-left:auto;
  margin-right:auto;
}

.bold {
  font-weight: 700;
}

.center-align{
  text-align: center;
}
#section-featured{
  width:100%;
  background-color: #e6e6e6;
  padding-top:20px;
  padding-bottom:20px;

}
#section-featured h2{
  color: #3d3d3d;
  font-weight: 200;
}

.container-border{
  border: 6px solid #609E09;
}
#section-about{
  width:100%;
  background-color: #e6e6e6;
  padding-top:20px;
  padding-bottom:20px;
  margin-bottom: 40px;
}
#section-about h2{
  color: #3d3d3d;
  font-weight: 200;
}
#section-about .row{
  height:50vh;
  }
#section-about .col-2{
    margin-top:auto;
    margin-bottom:auto;
    }

#section-twitter{
    width:100%;
    background-color: #e6e6e6;
    padding-top:20px;
    padding-bottom:20px;
}

#section-twitter h2{
    color: #3d3d3d;
    font-weight: 200;
 }

#card-section {

      width: 100%;
      background-color: #fefefe;;
    }

a.btn-green:hover{
  color:#609E09;
}
a.btn-brown:hover{
  color:#6C562F;
}
a.btn-blue:hover{
  color: #2A4F89;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #ffffff;

}

/* Slides */
.Slides {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  /*background: linear-gradient(rgba(0,46,155,0.8),rgba(0,0,0,0.8)), url("../images/banner.jpg");*/
  background-color: #2A4F89;
  background-size: cover;
  background-repeat: no-repeat;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #fcfcfc;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #c1c1c1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

.slide-row{
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  color: #FFFFFF;
}

.slide-row:after {
  content: "";
  display: table;
  clear: both;
}

.slide-column-1{
float: left;
padding-top: 3%;
  width: 30%;
}
.slide-column-2{
  float: left;
  width: 70%;
}
