.bio{
  background-color: var(--light-blue-008);

  }
  .bio-desc p{
    color: var(--dark-blue);
  
  }
  
  .bio .image .square{
    border: 5px solid var(--dark-blue);
  }
.bio-section{
  display: flex;
  flex-direction: column;
  text-align:center;
  justify-content: center;
  align-items: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2rem;
  }
  /* .bio{
    padding: 3rem 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
  } */
  .bio{
    padding: 1rem 1rem;
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: row;
  }
  /* .bio:hover{
    background-color: var(--dark-blue);
    cursor: pointer;
  }
  .bio:hover .bio-desc p{
    color: var(--dull-blue);
  } */
  .bio .image{
    flex-direction: column;
    width: 30%;
    justify-content: center;
    padding-bottom: 40px;
    position: relative;
    
  }
  
  .bio .image img{
  width: auto;
    height: 100%;
  }
  
  .bio .image .square{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
   
  }
  .bio-desc{
    text-align:left;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }
  .bio-desc p{
    font-size: 1rem;
    font-weight: 300;
    margin: 0 0 0 0;
    padding-right: 3rem;
    text-align: left;
  }
p#name{
  margin: 0 0 0 0;

}

  .down{
    display:flex;
    justify-content: center;
    align-items:center;
   }
   .material-icons {
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  .accordion{
    background-color: rgba(27, 138, 207, 0);
    cursor: pointer;
    text-align: left;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    order: 3;
    flex-direction: row;
    padding: 0;
  }
  .accordion:hover{
    zoom: 1;
  }
  .active{
    font-size: 1rem;
  }
  .accordion:before {
    content: "MORE";
  }
  .active:before {
    content: "LESS";
  }
  .accordion .material-icons:before {
    font-weight: 200;
    content: 'keyboard_arrow_down';
  }
  .active .material-icons:before { 
    font-weight: 200;
    content: 'keyboard_arrow_up';
  }
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    display: flex;
    flex-direction: column;
    order: 2;
    background-color: rgba(27, 138, 207, 0);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  } 
#bio-ex-officio{
  margin-bottom: 2rem;
}
  @media screen and (min-width: 320px) and (max-width: 830px){
    .bio-section{
      padding-left: 1%;
      padding-right: 1%;
  
      }
      .bio{
        padding: 1rem 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
    }
    .bio .image{
      width: 100%;
    }
    .bio-desc{
      width: 100%;
      padding-left: 0rem;
 
    }
    .bio-desc p{
      margin: 0 0 0 0;
      padding-right: 0rem;
      text-align: center;
    }
    p#name{
      text-align:center;
    }
    #designation{
      text-align:center;
    }
  }