.state-header{
  display: flex;
  flex-direction: row;
  background-color:  #333;
  padding:  0.5rem 1rem 0.5rem 1rem;
}
.state-header p{
  font-size: 0.8rem;
  font-weight:  300;
  color: #ffffff;
}
.state-header a{
  color: #ffffff;
  text-decoration: none;
}
.state-header a:hover{
  color: #ffffff;
  text-decoration: none;
}
.right{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  order: 2;
}
.right p,.left p{
  margin:0;
}
.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}


@media screen and (min-width: 320px) and (max-width: 578px){
  .state-header{
    display:none;
  }
  .state-header.home{
    display:block;
  }
  .right{
    display:none;
  }
  .left{
    display:block;
    text-align:center;
  }
}