@media screen and (min-width: 320px) and (max-width: 578px){
  .hero{
    padding: 0rem 0rem 0 0rem;
  }
  .hero p{
    padding: 0rem 1rem 0 1rem;
  }
  .hero h3{
    padding: 3rem 0rem 3rem 0rem;
    margin: 0rem 0rem 0rem 0rem;
  }
  .hero.home h1{
    padding: 2rem 0rem 0 0rem;
  }
  .page-items-list{
    display:flex;
 flex-direction: column;
  }
  .page-items-list li{
    width: 300px;
    margin-bottom: 1rem;
  }
  .icons{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem 0.5rem 2rem;

  }
  .row{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2.5rem;
  
  }
  .column{
    display: flex;
    flex-direction: column;
    text-align:center;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .icons.menu{
    display:none;
    }
.mobile-home{
  display:flex;
  padding: 1rem 0rem 1rem 1rem;
  align-items:start;
  cursor: pointer;
}
.mobile-home svg{

  height: 30px;
}
.mobile-home p{
display:none;
  padding: 0rem 0rem 0rem 1rem;
}
.mobile-home .frame{

  height: 40px;
  width: 40px;
}
.section{
  padding: 0rem 1rem 3rem 1rem;
}
.custom-form{
  width: 100%;
}
.topnav {
  display:block;
}
#policy-section{
  padding: 1rem 1rem 1rem 1rem;
}
#policy-section{
  padding: 1rem 1rem 1rem 1rem;
}
.section.heading-light{
  padding: 2rem 1rem 2rem 1rem;
  }
.section.heading-light.feedback {
  margin-top: 2rem;
  padding: 2rem 1rem 2rem 1rem;
}

.section ul{
  padding-left:0.5rem;
}
.box-row{
  display:flex;
  flex-direction: column;
}
.box{
  width:100%;
  padding:1rem;
  margin-right:0;
}
#quick-menu{
  width: 100%;
}

.article{

  margin: 2rem 1rem 2rem 1rem;
  padding:2rem 1rem 2rem 1rem;
}
.p-tag{
  padding:2rem 1rem 2rem 1rem;
}
.policy-bullets{
  text-align:left;
  margin: 0rem 1rem 0rem 1rem;
  padding: 0rem 1rem 0rem 1rem;
  background-color: var(--light-blue-008);
}

}
@media screen and (min-width: 579px) and (max-width: 830px){
  .hero{
    padding: 0rem 0rem 0 0rem;
  }
  .box-row{
    display:flex;
    flex-direction: column;
  }
  .box{
    width:100%;
    padding:1rem;
    margin-right:0;
  }
  .home{
    padding-top: 4rem;
  }
  .hero p{
    padding: 0rem 2rem 0 2rem;
  }
  .section{
    padding:  0rem 2rem 3rem 2rem;
  }
  .icons{
    padding: 3rem 2rem 3rem  2rem;
  }
  .icons.menu{
    padding: 2rem 5rem 0rem 5rem;
  }
    #policy-section{
      padding: 1rem 1rem 1rem 1rem;
    }
    #policy-section{
      padding: 1rem 1rem 1rem 1rem;
    }
    .section.heading-light{
      padding: 2rem 1rem 2rem 1rem;
      }
    .section.heading-light.feedback {
      margin-top: 2rem;
      padding: 2rem 1rem 2rem 1rem;
    }
    
    #quick-menu{
      width: 80%;
    }
    
    .article{
    
      margin: 2rem 2rem 2rem 2rem;
      padding:2rem;

  }
  .policy-bullets{
    text-align:left;
    margin: 0rem 4rem 0rem 4rem;
    padding: 0rem 1rem 0rem 1rem;
    background-color: var(--light-blue-008);
  }

}
@media screen and (min-width: 831px) and (max-width: 1350px){
  .hero{
    padding: 0rem 2rem 0 2rem;
  }
  .hero p{
    padding: 0rem 2rem 0 2rem;
  }
  .icons.menu{

    padding: 2rem 15rem 0rem 15rem;

  }
  #quick-menu{
    width: 80%;
  }
}